---
layout: archive
author_profile: true
---

{% include base_path %}

<h2 class="archive__subtitle"><a href="/posts/">Recent Posts</a></h2><br>

{% for post in site.posts %}
<div class="archive_title">
  {% include archive-single.html type="list" %}
</div>
{% endfor %}
<br>

<h2 class="archive__subtitle"><a href="/gsoc/">GSoC '17 updates</a></h2><br>

{% for post in site.gsoc17 %}
<div class="archive_title">
  {% include archive-single.html type="list" %}
</div>
{% endfor %}
<br>

<h2 class="archive__subtitle"><a href="/gsoc/">GSoC '16 updates</a></h2><br>

{% for post in site.gsoc16 %}
<div class="archive_title">
  {% include archive-single.html type="list" %}
</div>
{% endfor %}

{% include paginator.html %}
